/bin/
/deployment/.terraform/
# TODO: Ignore generated resources if GitHub actions can run make or equivalent
# /deployment/*.yaml
/kubeconfig

/api/**/zz_generated.deepcopy.go

.vscode

.terraform/
*.tfstate*