apiVersion: v1
kind: Service
metadata:
  name: skipjob-conversion-webhook  
  namespace: skiperator-system 
spec:
  ports:
    - port: 443
      targetPort: 9443
      protocol: TCP
  selector:
    app: skiperator 