# The following patch enables a conversion webhook for the CRD
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: skipjobs.skiperator.kartverket.no
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          namespace: skiperator-system # must match Service metadata.namespace
          name: skipjob-conversion-webhook # must match Service metadata.name
          path: /convert
        # caBundle is required for a self-signed or cert-manager managed CA.
        # It will be injected by kustomize replacement or a post-render script.
        # caBundle: <BASE64_CA_CERT>
      conversionReviewVersions:
      - v1
