# The following patch enables a conversion webhook for the CRD
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: skipjobs.skiperator.kartverket.no
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          namespace: system
          name: skipjob-conversion-webhook 
          path: /convert
      conversionReviewVersions:
      - v1
