apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: skip-ultra-low
value: 5000
globalDefault: false
description: "This priority class should be used for non-critical SKIP components"
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: skip-low
value: 10000
globalDefault: false
description: "This priority class should be used by workloads which can be gone at a moments notice."
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: skip-medium
value: 20000
globalDefault: false
description: "This priority class should be used by 'normal' applications."
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: skip-high
value: 30000
globalDefault: false
description: "This priority class should be used by critical business applications."
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: skip-critical
value: 100000
globalDefault: false
description: "This priority class should be used for critical SKIP components."
