apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Replacement
metadata:
  name: crd-ca-injection
source:
  kind: Secret
  name: skiperator-webhook-ca
  # cert-manager stores the CA cert under tls.crt for an isCA: true Certificate
  fieldPath: data.tls.crt
targets:
  - select:
      kind: CustomResourceDefinition
      name: skipjobs.skiperator.kartverket.no
    fieldPaths:
      - spec.conversion.webhook.clientConfig.caBundle