name: Deploy Skiperator Sandbox

on:
  workflow_dispatch:
    inputs:
      image_digest:
        description: "Image Digest of Skiperator version to deploy (sha:abc123.....)"
        required: true

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  RBAC_FILE_PATH: config/rbac/role.yaml
  CRD_APP_FILE_PATH: config/crd/skiperator.kartverket.no_applications.yaml
  CRD_JOB_FILE_PATH: config/crd/skiperator.kartverket.no_skipjobs.yaml
  ARTIFACT_NAME: skiperator-artifact-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}

jobs:
  generate:
    name: CRD and ClusterRole
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Golang environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.1'

      - name: Generate CRD and ClusterRole
        run: make generate

      - name: Upload CRD and ClusterRole
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: |
            ${{ env.RBAC_FILE_PATH }}
            ${{ env.CRD_APP_FILE_PATH }}
            ${{ env.CRD_JOB_FILE_PATH }}

  deploy-argo:
    needs: [generate]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    strategy:
      matrix:
        base_dir: [./env/atkv3-sandbox/skiperator-system, ./env/atgcp1-sandbox/skiperator-system]
    env:
      TMP_FILE: tmp_kustomization.yaml
    steps:
      - uses: octo-sts/action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
        id: octo-sts
        with:
          scope: kartverket/skip-apps
          identity: skiperator

      - name: Checkout apps repo
        uses: actions/checkout@v4
        with:
          repository: kartverket/skip-apps
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Download CRD and RBAC
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: config/

      - name: Patch Image Digest
        run: |
          kubectl patch --type=merge --local \
            -f ${{ matrix.base_dir }}/kustomization.yaml \
            -p '{"images":[{"name":"${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}","digest":"${{ github.event.inputs.image_digest }}"}]}' \
            -o yaml > ${{ matrix.base_dir }}/$TMP_FILE

          rm ${{ matrix.base_dir }}/kustomization.yaml
          mv ${{ matrix.base_dir }}/$TMP_FILE ${{ matrix.base_dir }}/kustomization.yaml

      - name: Update CRD and Role
        run: |
          cp -f -v $CRD_APP_FILE_PATH ${{ matrix.base_dir }}/patches/crd.yaml
          cp -f -v $CRD_JOB_FILE_PATH ${{ matrix.base_dir }}/patches/skipjob-crd.yaml
          cp -f -v $RBAC_FILE_PATH ${{ matrix.base_dir }}/patches/clusterrole.yaml
          rm -rf config/

      - name: Commit Changes to Repo
        run: |
          git config --global user.email "noreply@kartverket.no"
          git config --global user.name "GitHub Actions"
          git commit -am "deploy skiperator branch: ${{github.ref_name}}"
          git pull --rebase && git push
