name: Deploy Skiperator Parallell With Dispatch, Quick/Unsafe

on:
  workflow_dispatch:
    inputs:
      image:
        description: "Image to deploy. This image should be a well-known working version of Skiperator. Image digest found under skiperator-controller"
        required: true
        type: string

jobs:
  sandbox:
    name: Deploy to sandbox
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    uses: kartverket/github-workflows/.github/workflows/run-terraform.yml@v3.1.0
    with:
      runner: ubuntu-latest
      environment: sandbox
      kubernetes_cluster: atkv1-sandbox
      terraform_workspace: sandbox
      terraform_option_1: -var=image=ghcr.io/kartverket/skiperator-controller:${{ inputs.image }}
      terraform_option_2: -var-file=sandbox.tfvars
      working_directory: deployment
      auth_project_number: 256430705282
      service_account: skiperator-deploy@skip-sandbox-37c2.iam.gserviceaccount.com
      project_id: kubernetes-sandbox-6e24

  dev:
    name: Deploy to dev
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    uses: kartverket/github-workflows/.github/workflows/run-terraform.yml@v3.1.0
    with:
      runner: ubuntu-latest
      environment: dev
      kubernetes_cluster: atkv1-dev
      terraform_workspace: dev
      terraform_option_1: -var=image=ghcr.io/kartverket/skiperator-controller:${{ inputs.image }}
      terraform_option_2: -var-file=dev.tfvars
      working_directory: deployment
      auth_project_number: 214581028419
      service_account: skiperator-deploy@skip-dev-7d22.iam.gserviceaccount.com
      project_id: kubernetes-dev-94b9

  test:
    name: Deploy to test
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    uses: kartverket/github-workflows/.github/workflows/run-terraform.yml@v3.1.0
    with:
      runner: ubuntu-latest
      environment: test
      kubernetes_cluster: atkv1-test
      terraform_workspace: test
      terraform_option_1: -var=image=ghcr.io/kartverket/skiperator-controller:${{ inputs.image }}
      terraform_option_2: -var-file=test.tfvars
      working_directory: deployment
      auth_project_number: 704673195983
      service_account: skiperator-deploy@skip-test-b6e5.iam.gserviceaccount.com
      project_id: kubernetes-test-94f6

  prod:
    name: Deploy to prod
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    uses: kartverket/github-workflows/.github/workflows/run-terraform.yml@v3.1.0
    with:
      runner: ubuntu-latest
      environment: prod
      kubernetes_cluster: atkv1-prod
      terraform_workspace: prod
      terraform_option_1: -var=image=ghcr.io/kartverket/skiperator-controller:${{ inputs.image }}
      terraform_option_2: -var-file=prod.tfvars
      working_directory: deployment
      auth_project_number: 421909719843
      service_account: skiperator-deploy@skip-prod-bda1.iam.gserviceaccount.com
      project_id: kubernetes-prod-e4a2
