name: Test

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - doc/**
      - samples/**
      - README.md
      - CONTRIBUTING.md
  push:
    branches: [main]
    paths-ignore:
      - doc/**
      - samples/**
      - README.md
      - CONTRIBUTING.md

jobs:
  test:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55
      - name: Build test-image
        run: docker build -t skiperator-test --target test .
      - name: Run tests in container
        run: docker run --rm --name test skiperator-test
