name: Test

on:
  pull_request:
    paths-ignore:
      - doc/**
      - samples/**
      - README.md
      - CONTRIBUTING.md
  push:
    paths-ignore:
      - doc/**
      - samples/**
      - README.md
      - CONTRIBUTING.md

jobs:
  test:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.1'
      - name: Create test cluster
        run: make setup-local
      - name: Run tests
        run: make run-test
